spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    show-sql: false
    properties:
      hibernate:
        dialect: ${SPRING_JPA_DATABASE_PLATFORM}

logging:
  level:
    root: WARN
    com.example.demo1: WARN
    org.springframework.web: WARN

server:
  error:
    include-stacktrace: never

management:
  endpoints:
    web:
      exposure:
        include: conditions, beans, health, metrics
  metics:
    enable:
      http.server.requests: true