spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo1
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    root: WARN
    com.example.demo1: WARN
    org.springframework.web: WARN

server:
  error:
    include-stacktrace: never

management:
  endpoints:
    web:
      exposure:
        include: "conditions, beans"