spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo1
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    root: INFO
    com.example.demo1: INFO
    org.springframework.web: INFO

management:
  endpoints:
    web:
      exposure:
        include: "conditions, beans"