spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo1
    #url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/demo1
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: INFO